<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{SITE_TITLE} {PAGE_TITLE} - Powered by VicBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="{SITE_URL}templates/{TPL_NAME}/images/style.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{RSS_FEED}" />
  </head>
  <body>
    <div id="wrapper">
      <table align="center" width="899px" cellpadding="0" cellspacing="0">
      <tr>
      <td class="header" onclick="location.href='{SITE_URL}'">
        {SITE_TITLE}
      </td>
      </tr>
      </table>
      <div id="header_bottom" onclick="location.href='{SITE_URL}'">
      </div>